<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IVelibInformationService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9011/CalcService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IVelibInformationService"
                contract="ServiceReference1.IVelibInformationService" name="WSDualHttpBinding_IVelibInformationService">
                <identity>
                    <userPrincipalName value="DESKTOP-IP31T9K\maxim" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>